*{
  box-sizing:border-box;
}

body{
  margin:0;
  min-height:100vh;
  font-family:system-ui;
  background:
  radial-gradient(
    circle at top,
    #223047 0%,
    #111827 46%,
    #050914 100%
  );
  color:white;
}

.app{
  width:min(1500px,96vw);
  margin:auto;
  padding:24px 0;
}

.hero{
  display:flex;
  justify-content:space-between;
  gap:24px;
  margin-bottom:25px;
}

h1{
  margin:0;
  font-size:4rem;
}

p{
  margin-top:10px;
}

.shiftBox{
  min-width:210px;
  padding:20px;
  border-radius:28px;
  background:rgba(255,255,255,.08);
}

.shiftBox input{
  width:100%;
  font-size:2rem;
  text-align:center;
}

.controlBar{
  display:flex;
  gap:20px;
  align-items:center;
  margin-bottom:30px;
}

.speedControl{
  flex:1;
  display:flex;
  gap:12px;
  align-items:center;
}

.workspace{
  display:grid;
  grid-template-columns:1fr 1.25fr 1fr;
  gap:30px;
}

.panel,
.wheelCard{
  border-radius:30px;
  padding:30px;
  background:rgba(255,255,255,.08);
}

textarea{
  width:100%;
  min-height:420px;
  font-size:1.3rem;
}

button{
  margin-top:15px;
  border:none;
  border-radius:20px;
  padding:15px;
  cursor:pointer;
  font-weight:900;
}

.wheelCard{
  display:flex;
  justify-content:center;
  align-items:center;
}

.wheel{
  position:relative;
  width:min(560px,100%);
  aspect-ratio:1;
  border-radius:50%;

  background:
  radial-gradient(
    circle at 35% 30%,
    #ffffff 0%,
    #fcfcfa 55%,
    #f5f5f0 100%
  );

  overflow:hidden;
}

.outerRing{
  position:absolute;
  inset:0;
}

.innerRing{
  position:absolute;
  inset:0;

  transition:
  transform .35s ease;

  cursor:grab;
}

.letter{
  position:absolute;
  font-weight:900;
  color:black;
  transform-origin:center;
}

.outerLetter{
  font-size:2rem;
}

.innerLetter{
  font-size:1.5rem;
}

.clearHighlight{
  color:#16a34a !important;
}

.cipherHighlight{
  color:#dc2626 !important;
}

.dividerSegment{
  position:absolute;
  width:1px;
  background:black;
}

.ringBorder{
  position:absolute;
  left:50%;
  top:50%;
  border:2px solid black;
  border-radius:50%;
  transform:translate(-50%,-50%);
}

.innerHole{
  position:absolute;
  inset:25%;
  border-radius:50%;
  background:#111827;
}

.centerDot{
  position:absolute;
  left:50%;
  top:50%;
  width:28px;
  height:28px;
  border-radius:50%;
  background:#fbbf24;
  transform:translate(-50%,-50%);
}

.modal{
  position:fixed;
  inset:0;
  display:grid;
  place-items:center;
  background:rgba(0,0,0,.8);
  z-index:999;
}

.modalCard{
  width:400px;
  background:white;
  color:black;
  border-radius:20px;
  padding:30px;
}
